

#maindiv{
    margin: auto;
    text-align: center;
}
#innerdiv{
    margin: 0 auto;
}
h2{
    padding: 20px;
}
.btn{
    border: 3px solid black;
    border-radius: 5px;
    height: 100px;
    width: 100px;
    
}
#gray{
    background-color: gray;
}
#red{
    background-color: red;
}
#purple{
    background-color: purple;
}
#orange{
    background-color: orange;
}
#resbtn{
    height: 30px;
    width: 70px;
    margin-top: 50px;
    
}